<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>


    <link rel="stylesheet" href="../../static/bootstrap-4.1.3-dist/css/bootstrap.min.css"
          th:href="@{/bootstrap-4.1.3-dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/bootstrap-4.1.3-dist/css/custom.css"
          th:href="@{/bootstrap-4.1.3-dist/css/custom.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous"/>

</head>
<body>

    <div class="container-fluid">
        <div class="row my-4" id="head-image">
            <h3 class="text-white justify-content-start col">Delux</h3>
            <ul class="nav justify-content-end">
                <li class="nav-item col">
                    <a class="nav-link active text-white mx-3" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white mx-3" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white mx-3" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white mr-4" href="#">Disabled</a>
                </li>
            </ul>


        </div>

        <div class="text-white text-center ">
        <h3>Welcome to The Deluxe</h3>
        <p class="text-muted">Hotel &amp; Resort</p>
        </div>

    </div>


    <section>

        <div class="container">
            <div class="row">
                <div class="col-md-5 mt-md-5">
                    <img src="../../static/images/image5.jpg" th:src="@{/images/image5.jpg}" height="600" width="400" alt="">
                </div>
                <div class="col md-7 mx-md-5 my-md-5">
                    <div>
                        <h3 class="text-center text-info">Welcome to Deluxe Hotel</h3>
                        <h5 class="text-center text-muted">Welcome To Our Hotel</h5>
                    </div>
                    <div>
                        <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
                        <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                    </div>
                    <div class="row mt-md-3">
                        <span><i class="fab fa-twitter ml-md-3 mr-md-3"></i></span> <span><i class="fab fa-facebook mr-md-3"></i></span><span><i class="fab fa-google-plus-g"></i></span>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section>

        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="text-center text-info my-3">Front Desk
                        <p><i class="fas fa-desktop fa-3x"></i></p></h4>
                    <p>A small river named Duden flows by their place and supplies.</p>
                </div>
                <div class="col-sm-3">
                    <h4 class="text-center text-info my-3">Restaurant Bar
                    <p><i class="fas fa-utensils fa-3x"></i></p></h4>
                    <p>A small river named Duden flows by their place and supplies.</p>
                </div>
                <div class="col-sm-3">
                    <h4 class="text-center text-info my-3">Transfer Services
                        <p><i class="fas fa-taxi fa-3x"></i></p></h4>
                    <p>A small river named Duden flows by their place and supplies.</p>
                </div>
                <div class="col-sm-3">
                    <h4 class="text-center text-info my-3">Spa Services
                        <p><i class="fas fa-spa fa-3x"></i></p></h4>
                    <p>A small river named Duden flows by their place and supplies.</p>
                </div>



            </div>
        </div>
    </section>

    <section>
        <div class="container bg-light">


            <div  style="width:100%;height: 300px">
                <h3 class="align-content-center text-center text-dark">Our Rooms</h3>
            </div>


            <div class="row my-4">
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../static/images/100.jpeg" th:src="@{/images/100.jpeg}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" th:href="@{/room/2}" class="btn btn-primary btn-sm">Go Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../static/images/101.jpeg" th:src="@{/images/101.jpeg}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" th:href="@{/room/10}" class="btn btn-primary btn-sm">Go Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../static/images/102.jpeg" th:src="@{/images/102.jpeg}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" th:href="@{/room/4}" class="btn btn-primary btn-sm">Go Details</a>
                        </div>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../static/images/103.jpeg" th:src="@{/images/103.jpeg}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../static/images/104.jpeg" th:src="@{/images/104.jpeg}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../static/images/105.jpeg" th:src="@{/images/105.jpeg}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>




</body>
</html>
