<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="./layout/viewlayout.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div layout:fragment="view">
     <section>
         <div class="container mt-5">
     <form action="#" th:action="@{/view/userprofile}" th:object="${userprofile}" method="post">
         <div class="form-group row">
         <label for="fname" class="col-sm-2 col-form-label">First Name</label>
         <div class="col-sm-10">
             <input type="text" th:field="*{firstName}" class="form-control" id="fname" placeholder="Firs tName">
         </div>
         </div><div class="form-group row">
         <label for="lnmae" class="col-sm-2 col-form-label">Last Name</label>
         <div class="col-sm-10">
             <input type="text" th:field="*{lastName}" class="form-control" id="lnmae" placeholder="Last Name">
         </div>
         </div>
         <div class="form-group row">
             <label for="email" class="col-sm-2 col-form-label">Email</label>
             <div class="col-sm-10">
                 <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="Email">
             </div>
         </div>
         <div class="form-group row">
         <label for="pass" class="col-sm-2 col-form-label">Password</label>
         <div class="col-sm-10">
             <input type="password" th:field="*{password}" class="form-control" id="pass" placeholder="Password">
         </div>
         </div>

         <div class="form-group row">
         <label for="phNumber" class="col-sm-2 col-form-label">Phone Number</label>
         <div class="col-sm-10">
             <input type="text" th:field="*{phoneNumber}" class="form-control" id="phNumber" placeholder="Phone Number">
         </div>
         </div>
         <div class="form-group row">
             <lable for="gender" class="col-sm-2 col-form-label">Gender</lable>
             <div class="col-sm-10">
                 <select name="gender" id="gender" th:field="*{gender}" class="form-control">
                     <option th:each="gender:${T(com.example.hotelmanagementsystem.model.Gender).values()}"
                             th:value="${{gender}}" th:text="${gender}"></option>
                 </select>
             </div>
         </div>
         <button type="submit" class="btn btn-primary">Submit</button>


     </form>
         </div>
     </section>
 </div>
</body>
</html>